<div class="card">
  <div class="card-header">
    {{ title }}
  </div>
  <div *ngIf="courses && courses.length > 0" class="card-body">
    <div>
      <table class="table">
        <thead>
          <th>Logo</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Fecha de  inicio</th>
          <th>Precio</th>
          <th>Rating</th>
          <th>Acciones</th>
        </thead>
        <tbody>
          <tr *ngFor="let course of courses">
            <td><img [src]="course.imageUrl" [style.width]="anchoImagen"></td>
            <td>{{ course.name }}</td>
            <td>{{ course.description }}</td>
            <td>{{ course.startDate }}</td>
            <td>{{ course.price }}</td>
            <td>{{ course.rating }}</td>
            <td>
              <span style="margin-right: 20px;" (click)="editCourse(course)">
                <i class="fa fa-edit"></i>
              </span>
              <span>
                <i class="fa fa-trash" (click)="deleteCourse(course)"></i>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="!courses || courses.length === 0" class="alert alert-info" role="alert">
      No existen cursos disponibles. Intente más tarde.
  </div>
</div>